In [6]:
import pandas as pd
import os

In [33]:
# Load the Metro rail and Metro Bus datasets
metrorail_df = pd.read_csv("data/Metrorail daily ridership.csv",names=["Date","Total Entries", "Total Exits"],header=0)
metrobus_df = pd.read_csv("data/Metrobus daily ridership.csv",names=["Date","Total Entries"])
# Load the metrorail ridership for the individual stations, collect into one dataframe
li = []
paths = ["data/" + path for path in os.listdir("./data") if not path in ["Metrorail daily ridership.csv","Metrobus daily ridership.csv"]]
for path in paths:
    station_df = pd.read_csv(path,names=["Date","Total Entries", "Total Exits"],header=0)
    station = path[31:]
    station_df['Station'] = station.rsplit(" ",1)[0]
    station_df['Location'] = station.rsplit(" ",1)[1][:-4]
    li.append(station_df)
metrorail_station_df = pd.concat(li)
metrorail_station_df.head()

       Date Total Entries Total Exits        Station Location
0  1/1/2019           866         884  brookland cua  outdoor
1  1/2/2019         3,645       3,723  brookland cua  outdoor
2  1/3/2019         4,085       4,092  brookland cua  outdoor
3  1/4/2019         4,035       3,948  brookland cua  outdoor
4  1/5/2019         1,608       1,483  brookland cua  outdoor